<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.jumpingmouse.moviecompanion" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!-- The content provider -->
        <provider
            android:authorities="@string/content_authority"
            android:name=".model.DataProvider"
            android:enabled="true"
            android:exported="false"
            android:syncable="true" />

        <!-- The main activity -->
        <activity android:name=".activity.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- The movie activity -->
        <activity android:name=".activity.MovieActivity"
            android:parentActivityName=".activity.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- In Cinemas Widget -->
        <receiver
            android:name=".widget.WidgetProviderInCinemas"
            android:label="@string/widget_title_in_cinemas"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="uk.jumpingmouse.moviecompanion.ACTION_DATA_UPDATED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_in_cinemas" />
        </receiver>
        <service
            android:name=".widget.RemoteViewsServiceInCinemas"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!-- Latest DVDs Widget -->
        <receiver
            android:name=".widget.WidgetProviderLatestDvds"
            android:label="@string/widget_title_latest_dvds"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="uk.jumpingmouse.moviecompanion.ACTION_DATA_UPDATED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_latest_dvds" />
        </receiver>
        <service
            android:name=".widget.RemoteViewsServiceLatestDvds"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>